<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">EFR32MG21 firmware built for:</li>
          <li class="p-name">ZB-GW04 and ZBDongle-E</li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">

      </div>
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/ksjh/silabs-firmware-builder"><svg class="svg-icon"><use xlink:href="/sl-test/assets/minima-social-icons.svg#github"></use></svg> <span class="username">Firmware Builder</span></a>
          </li>
        </ul>
        Powered by <a href="https://github.com/NabuCasa/sl-web-tools">SL Web Tools</a>
      </div>
    </div>

  </div>

</footer>
